* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: monospace, "Lucida Sans", Arial, sans-serif;
  --mainThemeColor: #e2f7fb;
  --mainBodyColor: #73cad9;
  --WhiteText: #fafafa;
  --navBarColor: rgba(17, 12, 12, 0.404);
  --Black: #000000;
=======
  font-family:monospace,
    'Lucida Sans', Arial, sans-serif;
    --mainThemeColor: #ffffff;
    --mainBodyColor: #67a86a;
    --WhiteText: #fafafa;
    --navBarColor: rgba(17, 12, 12, 0.404);
    --Black: #000000;
>>>>>>> 55855a22c2d586fc80c17798c95d8575053008c6
}

#root {
  background-color: var(--mainBodyColor);
}

/* ----------------------Globals---------------------- */

.wt {
  color: var(--WhiteText);
}

.hidden-element {
  visibility: hidden;
}

.warningTextForm {
  font-size: 15px;
  color: var(--WhiteText);
}

.Outlet-Style {
  min-height: 50vh;
}

.dpt {
  padding-top: 10px;
}

.dpb {
  padding-bottom: 10px;
}

.dpl {
  padding-left: 10px;
}

.dpr {
  padding-right: 10px;
}

/* ----------------------Flex & Directions---------------------- */
.center-content {
  justify-content: center;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-columns {
  display: flex;
  flex-direction: column;
}

.keepLeft {
  display: flex;
  float: left;
  text-decoration: underline;
  padding: 15px;
}

.keepRight {
  display: flex;
  float: right;
  padding: 50px;
}

.keepTop {
  display: flex;
  position: static;
  float: inline-start;
}

.keepBottom {
  display: flex;
  position: static;
  min-height: 25vh;
}
