.CourseCard img {
  width: 50%;
  border: solid black;
  border-radius: 25px 0px 25px 0px;
}

.CourseCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  width: 100%;
  padding: 15px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  border-radius: 25px 0px 25px 0px;
}

.CourseCard * {
  margin: 10px;
}
