.EnrolledCourses {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 50px;
  height: fit-content;
  z-index: 5;
}

@media screen and (max-width: 1200px) {
  .EnrolledCourses {
    display: flex;
    flex-direction: column;
  }
}
