@import "../../App.css";

.footer-Style {
  padding: 8px;
  border-top: 1px solid black;
  background-color: var(--mainThemeColor);
}

<<<<<<< HEAD
.learnMore_Link {
  background-color: var(--Black);
  font-size: 25px;
  text-decoration: none;
  color: var(--WhiteText);
  font-style: italic;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-right: 8px;
}

.FooterContainer {
  display: flex;
  flex-direction: row;
  padding: 0;

  justify-content: center;
}

.FooterContainer * {
  margin: 0;
}
/* t */
=======
  .learnMore_Link{
    background-color: var(--Black);
    font-size: 25px;
    text-decoration: none;
    color: var(--WhiteText);
    font-style: italic;
    border-radius: 8px;
    padding-bottom: 5px;
    padding-right: 8px;
  }
  


  /* t */

  @media screen and (max-width: 400px) {
    .footer-logo{
      visibility: hidden;
      max-width: 1px;
    }
    .learnMore_Link{
      visibility: hidden;
    }
  }
>>>>>>> 5308efc0d5c24174f2eb782713675d3de8619273
