.LessonCard {
  background-color: blue;
  display: flex;
  margin: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.LessonCard * {
  margin: 15px;
}
