@import "../../App.css";

.nav-style {
  display: flex;
  padding: 8px;
  flex-direction: row;
  color: white;
  max-height: 5.5vh;
  width: 100%;
  background-color: var(--navBarColor);
}

.nav-active {
  text-decoration: underline;
  background: var(--mainThemeColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-button {
  text-decoration: underline;
  background: var(--mainThemeColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-button:hover {
  text-decoration: underline;
  background: var(--mainThemeColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Profile-Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--navBarColor);
}

@media screen and (max-width: 300px) {
  .nav-style {
    display: flex;
    flex-direction: row;
    color: white;
    max-height: 4vh;
    padding-bottom: 12%;
    width: 0%;
    background-color: var(--navBarColor);
  }
}

