
@import "../../App.css";

.nav-style{
    padding: 8px;
    color: white;
    max-height: 4vh;
    width: 100%;
    background-color: var(--navBarColor);
  }


.nav-active{
    text-decoration: underline;
    background: var(--mainThemeColor);
    color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .nav-button{
    text-decoration: underline;
    background: var(--mainThemeColor);
    color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .nav-button:hover{
    text-decoration: underline;
    background: var(--mainThemeColor);
    color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .Profile-Icon{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--navBarColor);
  }