* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:monospace,
    'Lucida Sans', Arial, sans-serif;
    --mainThemeColor: #7e7e7e;
    --mainBodyColor: #3b3b3b;
    --WhiteText: #fafafa;
}

#root{
  background-color: var(--mainBodyColor);
}

/* ----------------------mainComponents---------------------- */


.header-Style{
  padding: 8px;
  background-color: var(--mainThemeColor);
}

.footer-Style{
  padding: 8px;
  border-top: 1px solid black;
  background-color: var(--mainThemeColor);
}

.wt{
  color: var(--WhiteText);
}

.hidden-element {
  visibility: hidden;
}

.warningTextForm{
  font-size: 15px;
  color: var(--WhiteText)
}

.lbox-style{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 25px;
  padding: 25px;
  width: 25%;
  height: 250px;
  background-color: var(--mainThemeColor);
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 110px;
}

.title-style{
  padding-left: 8px;
  color: white;
  font-weight: bold;
  font-weight: 900;
  font-family:sans-serif;
  text-decoration: wavy;
}

.nav-style{
  padding: 8px;
  background-color: black;
  color: white;
  max-height: 4vh;
}

.Outlet-Style{
  min-height: 50vh;
}

.dpt{
  padding-top: 10px;
}

.dpb{
  padding-bottom: 10px;
}

.dpl{
  padding-left: 10px;
}

.dpr{
  padding-right: 10px;
}

.nav-active{
  text-decoration: underline;
  background: var(--mainThemeColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-button{
  text-decoration: underline;
  background: var(--mainThemeColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav-button:hover{
  text-decoration: underline;
  background: var(--mainThemeColor);
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}



/* ----------------------Below is for testing only---------------------- */
.visualize-Test-Area{
  padding: 20px;
  background-color: rgb(255, 203, 203);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* ----------------------Flex & Directions---------------------- */
.center-content {
  justify-content: center;
  align-items: center;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}

.flex-container-columns{
  display: flex;
  flex-direction: column;
}

.keepLeft{
  display: flex;
  float: left;
  text-decoration: underline;
  padding: 15px;

}

.keepRight{
  display: flex;
  float: right;
  padding: 50px;

}

.keepTop{
  display: flex;
  position: static;
  float: inline-start;
}

.keepBottom{
  display: flex;
  position: static;
  min-height: 25vh;
}

/* ----------------------Img---------------------- */

.header-Logo{
  width: 100px;
  height: 100px;
}
