* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* ----------------------mainComponents---------------------- */

.title-style{
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: wavy;
}

.Outlet-Style{
  min-height: 60vh;
}

.dpt{
  padding-top: 10px;
}

.dpb{
  padding-bottom: 10px;
}

.dpl{
  padding-left: 10px;
}

.dpr{
  padding-right: 10px;
}


/* ----------------------Below is for testing only---------------------- */
.visualize-Test-Area{
  padding: 20px;
  background-color: rgb(112, 112, 112);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* ----------------------Flex & Directions---------------------- */
.center-content {
  justify-content: center;
  align-items: center;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}

.flex-container-columns{
  display: flex;
  flex-direction: column;
}

.keepLeft{
  display: flex;
  float: left;
  text-decoration: underline;
  padding: 15px;

}

.keepRight{
  display: flex;
  float: right;
  padding: 50px;

}

.keepTop{
  display: flex;
  position: static;
  float: inline-start;
}

.keepBottom{
  display: flex;
  position: static;
  min-height: 25vh;
}

/* ----------------------Img---------------------- */

.header-Logo{
  width: 100px;
  height: 100px;
}
